/*
  CSS Structure -
  1. Global Styles
  2. Bootstrap Overrides
  3. Template Structure
      3a. top-bar (Logo, Mobile Menu Toggle, Desktop Search, Desktop Navigation, Mobile Search)
      3b. main-content (main-content, side-bar, footer)
      3c. mobile-menu
  4. Page Styles
      4a. Hero Pages
      4b. Item Pages (Filtering Item Pages)
      4c. Region Pages
      4d. Gear Pages (Inidividual gear pages(Weapons, Armor, Trinkets))
*/

/* 1. Global Styles ======= */
body {
  font-family: 'Open Sans', sans-serif;
  background: #333333;
  color: #555;
}

snap-content {
  background: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

a:selected {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
}

.alt-h1 {
  background: #333;
  font-size: 2.5em;
  margin: 0;
  padding: 10px;
  color: #ddd;
}

.small-text {
  font-size: .7em;
}

.tag-label {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
}

h2 {
  font-size: 1.8em;
}


/* 2. Bootstrap Overrides ======= */
.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0;
  margin: 0;
}

/* 3. Template Structure ======= */
  /* 3a. Stlyes for top-bar =======
  (Logo, Mobile Menu Toggle, Desktop Search, Desktop Navigation, Mobile Search)
  */
#top-bar {
  width: 95%;
  max-width: 1200px;
  margin: 30px auto 30px auto;
  box-sizing: border-box;
  display: block;
  height: auto;
}

#logo-search-hold {
  position: relative;
}

#logo-hold img {
  max-width: 75px;
}

#logo-hold span {
  font-size: 2.5em;
  font-family: 'Alagard', 'Pathway Gothic One', sans-serif;
  margin-left: 15px;
  position: relative;
  top: 15px;
  color: #ddd;
  line-height: 0;
}

#logo-hold .db {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  font-size: .7em;
  line-height: 0;
  position: relative;
  top: -2px;
  left: 5px;
  padding: 0;
  margin: 0;
}

#search-hold {
  margin: 22px 0 0 0;
  padding: 0;
}

#mobile-menu-toggle {
  margin: 22px 0 0 0
}

#mobile-menu-toggle a {
  color: #ddd;
  float: right;
  font-size: 3em;
  line-height: 0;
}

#desktop-searchbar input {
  height: 45px;
  margin: 0;
  padding: 0;
  width: 80%;
  float: right;
  padding: 15px;
  box-sizing: border-box;
  background: #222;
  border: 2px solid #222;
}

#desktop-searchbar input:focus {
  outline: 0;
  border: 2px solid #3D5CAA;
}

#mobile-menu-toggle {
  display: none;
}

#navigation {
  background: #222;
  margin: 20px 0 0 0;
}

#navi-hold ul {
  list-style: none;
  margin: 0 5px 0 5px;
  padding: 0;
}

#navi-hold ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

#navi-hold ul li a {
  display: inline-block;
  padding: 15px;
  margin: 0;
  color: #FED000;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
}

#navi-hold ul li a span {
  vertical-align: text-bottom;
  padding: 0 0 0 3px;
  color: #555;
  font-size: 15px;
}

.menu-community {
  float: right;
  margin: 0;
  padding: 0;
}

.menu-community img {
  max-width: 30px;
  vertical-align: text-top;
  float: left;
  margin: 0 10px 0 0;
}

#sub-menu-hold {
  border-top: 1px solid #333;
  height: 55px;
  display: none;
  position:relative;
  top: 0;
  width: 100%;
}

#sub-menu-hold ul {
  margin: 0 0 0 10px;
  width: 100%;
  height: 100%;
}

#sub-menu-hold ul li {
  height: 100%;
  min-width: 80px;
  position: relative;
  text-align: center;
}

#sub-menu-hold ul li a {
  display: inline-block;
  padding: 18px 5px 15px 5px;
  margin: 0 0 0 10px;
  color: #FED000;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-size: .9em;
  text-align: center;
}

#sub-menu-hold ul li a img {
  width: 50px;
  margin: 0 5px 5px 0;
  clear: both;
  display: block;
  margin: 0 auto;
}

#sub-menu-hold ul li a:hover {
  color: #fff;
  background: none;
}

.menu-hovered {
  background: #FED000;
  color: #222 !important;
}

#mobile-search {
  display: none;
  margin: 20px 0 0 0;
  background: blue;
}

#mobile-searchbar input {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1.3px;
  font-weight: lighter;
  transition: all 0.3s ease;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #222;
  border: 1px solid #222;
  color: #ddd;
}

#mobile-searchbar input:focus {
  outline: 0;
  border: 1px solid #555;
}


/* 3b. Stlyes for main-content =======
(main-content, side-bar, footer)
*/
#content-hold {
  padding: 0;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  display: block;
  min-height: 50px;
}

#main-content {
  background: #F3F3F3;
  padding: 20px;
  min-height: 300px;
}

#side-bar {
  padding: 0;
}

.aside-block {
  margin: 0 0 20px 0;
}

.side-content {
  background: #F3F3F3;
  padding: 20px;
}

footer {
  width: 100%;
  background: #000;
  margin: 100px 0 0 0;
  font-size: 14px;
}

footer .row {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  padding: 30px 0 30px 0;
}

.footer-col {
  transition: all 0.3s ease;
  background: #222;
  padding: 15px;
  box-sizing: border-box;
  color: #bbb;
  min-height: 225px;
  text-align: center;
  border-bottom: 10px solid #222;
}

.footer-col:hover {
  background: #333;
  color: #fff;
}

.footer-col h3 {
  color: #eee;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  text-align: center;
  margin: 10px 0 20px 0;
}

#download-merchant {}
#download-merchant img {
  width: 100%;
  display: block;
  max-width: 200px;
  clear: both;
  margin: 10px auto 0 auto;
}

#github-button, #reddit-button {
  transition: all 0.3s ease;
  margin: 20px auto 0 auto;
  border: 1px solid #eee;
  max-width: 150px;
  text-align: center;
  padding: 10px;
  color: #eee;
}

#github-button:hover, #reddit-button:hover {
  background: #eee;
  color: #222;
}


/* 3c. Stlyes for mobile-menu ======= */
#mobile-menu {
  background: #222;
}

#mobile-menu ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 20px 0 0 20px;
  background: #222;
  border: 0;
}

#mobile-menu ul li a {
  color: #FED000;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
}

#mobile-menu ul li ul {
  margin: 0;
  padding: 0;
  display: none;
}

#mobile-menu ul li ul li {
  padding: 5px;
}

#mobile-menu ul li ul li:hover {
  background: #111;
}

#mobile-menu ul li ul li img {
  margin: 0 10px 0 0;
}

#mobile-menu ul li ul li a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-size: 1em;
}











/* GEAR Page Styles */
.gear-table {
  width: 70%;
  max-width: 310px;
  border: 2px solid #bbb;
  font-size: .9em;
  min-height: 60px;
}

.gear-table td {
  padding: 2px 5px 2px 5px;
}

.gear-table h3 {
  font-weight: bold;
}

.gear-header-row {
  background: #222;
}

.gear-table h3 {
  font-size: 1.4em;
  margin: 0;
}

.gear-cost {
  text-align: right;
  vertical-align: bottom;
}

.gear-tier {
  text-align: right;
}

.bonus-stats {
  font-size: .9em;
  text-align: center;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  color: #666;
}

.prefix-stat {
  color: #497A2A;
  font-weight: bold;
}

.gear-options {
  padding: 10px;
  margin: 20px 0 0 0;
  width: 92%;
  max-width: 400px;
}

.suffix-adjustment-hold label, .prefix-adjustment-hold label {
  font-size: .8em;
  font-weight: 900;
  letter-spacing: 1.2px;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.gear-options h4 {
  margin: 0 0 6px 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.suffix-adjustment-hold {
  padding: 0px 8px 4px 8px;
  background: #ccc;
  overflow: hidden;
  width: 75px;
  display: inline-block;
  text-align: center;
  float: left;
  clear: left;
  margin: 10px 0 0 0;
}

.suffix-adjustment-hold select {
  transition: all 0.3s ease;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  clear: both;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #fff;
  margin: 0;
}

.prefix-adjustment-hold {
  padding: 0px 8px 4px 8px;
  background: #ccc;
  overflow: hidden;
  width: 75px;
  display: inline-block;
  text-align: center;
  float: left;
  clear: left;
  margin: 10px 0 0 0;
}

.prefix-adjustment-hold select {
  transition: all 0.3s ease;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  clear: both;
  display: block;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.copy-item-url {
  border: 0;
  transition: all 0.3s ease;
  border-radius: 2px;
  padding: 4px;
  font-size: .8em;
  width: 75px;
  display: inline-block;
  text-align: center;
  float: left;
  clear: left;
  margin: 10px 0 0 0;
}

.copy-item-url:hover {
  color: #fff;
  background: #69A4D6;
  cursor:pointer;
}

.item-url-hold {
  margin: 20px 0 0 0;
}

.item-url-hold label {
  clear: both;
  display: block;
  margin: 0 0 3px 0;
  padding: 0;
  font-size: .8em;
}

#generatedLink {
  width: 100%;
  max-width: 400px;
  padding: 5px 10px;
  font-size: .8em;
}





/* MATERIALS page styles */
.mats-table {
  width: 70%;
  max-width: 310px;
  border: 2px solid #bbb;
  font-size: .9em;
  min-height: 60px;
}

.mats-table td {
  padding: 2px 5px 2px 5px;
}

.mats-table h3 {
  font-weight: bold;
}

.mats-header-row {
  background: #222;
}

.mats-table h3 {
  font-size: 1.4em;
  margin: 0;
}

.mats-cost {
  text-align: right;
  vertical-align: bottom;
}

.mats-tier {
  text-align: right;
}



/* Potion page styles */
.potion-table {
  width: 70%;
  max-width: 310px;
  border: 2px solid #bbb;
  font-size: .9em;
  min-height: 60px;
}

.potion-table td {
  padding: 2px 5px 2px 5px;
}

.potion-table h3 {
  font-weight: bold;
}

.potion-header-row {
  background: #222;
}

.potion-table h3 {
  font-size: 1.4em;
  margin: 0;
}

.potion-cost {
  text-align: right;
  vertical-align: bottom;
}

.potion-tier {
  text-align: right;
}



.coin-img {
  padding: 0 1px 3px 2px;
}

.crafting-reagents-table {
  width: 100%;
  max-width: 400px;
  border: 2px solid #bbb;
  font-size: .9em;
  clear: both;
  margin: 30px 0 0 0;
}

.crafting-reagents-table caption {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0 0 5px 0;
}

.crafting-reagents-table td, th {
  padding: 5px 7px;
}

.crafting-reagents-table thead {
  background: #aaa;
}

.crafting-reagents-table thead th {
  height: 40px;
  color: #222;
  font-weight: bold;
}

.crafting-reagents-table tbody tr {
  border-bottom: 1px solid #bbb;
}

.crafting-reagents-table tbody tr:nth-child(even) {
  background: #ccc;
}

.crafting-reagents-table tfoot td {
  font-style: italic;
  font-size: .9em;
  padding: 8px;
}




.object-image {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0.5)
    );
}

.item-quality-1-bg, .item-quality-2-bg, .item-quality-3-bg, .item-quality-4-bg, .item-quality-5-bg, {
  image-rendering: pixelated;
}

.item-quality-1-bg {
  background: url("../img/item-quality-1-bg.png");
}

.item-quality-2-bg {
  background: url("../img/item-quality-2-bg.png");
}

.item-quality-3-bg {
  background: url("../img/item-quality-3-bg.png");
}

.item-quality-4-bg {
  background: url("../img/item-quality-4-bg.png");
}

.item-quality-5-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-6-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-7-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-8-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-9-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-10-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-11-bg {
  background: url("../img/item-quality-5-bg.png");
}

.item-quality-12-bg {
  background: url("../img/item-quality-5-bg.png");
}

.quality-1 {
  color: #000;
  font-weight: bold;
}

.quality-2 {
  color: #497A2A;
  font-weight: bold;
}

.quality-3 {
  color: #2A5EA1;
  font-weight: bold;
}

.quality-4 {
  color: #8A2F92;
  font-weight: bold;
}

.quality-5 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-6 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-7 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-8 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-9 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-10 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-11 {
  color: #C06D2C;
  font-weight: bold;
}

.quality-12 {
  color: #C06D2C;
  font-weight: bold;
}




.object-image {
  image-rendering: pixelated;
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  margin: 0 15px 0 0;
  -webkit-box-shadow: 4px 4px 17px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 17px -4px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 17px -4px rgba(0,0,0,0.75);
}

.object-image img {
  width: 95%;
  padding-top: 2px;
  margin: 0 auto 0 auto;
  display: block;
}


/*HERO PAGES*/
.hero-page {
  padding: 15px;
  margin: 0;
  padding-top: 10px;
  max-width: 600px;
}

.hero-page hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-page h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #222;
  color: #ddd;
  padding: 8px;
  display: inline-block;
  margin: 0 0 10px 0;
}

.hero-page-avatar {
  image-rendering: pixelated;
  float: left;
  width: 150px;
  margin: 0 15px 35px 0;
}

.hero-page h3 {
  font-weight: bold;
  font-size: 1.2em;
  clear: both;
  margin: 30px 0 5px 0;
}

.hero-page table {
  border: 1px solid #bbb;
  width: 100%;
}

.hero-page table th {
  border-bottom: 1px solid #bbb;
}

.hero-page td, th {
  padding: 5px 7px;
}

.hero-page thead {
  background: #aaa;
}

.hero-page thead th {
  height: 40px;
  text-align: center;
}

.hero-page tbody tr {
  border-bottom: 1px solid #bbb;
}

.hero-page tbody tr:nth-child(even) {
  background: #ccc;
}

.hero-page tbody tr td {
  text-align: center;
}

.hero-page tfoot td {
  font-style: italic;
  font-size: .9em;
  padding: 8px;
}



.region-table {
  width: 100%;
  margin: 30px 0 0 0;
}

.region-table thead {
  background: #555;
  color: #eee;
}

.region-table thead tr th {
  padding: 15px 0;
}

.region-table tbody tr td {
  padding: 15px 2px;
}

.region-quest-icon {
  width: 10%;
}

.region-quest-name {
  width: 30%;
  text-align: center;
}

.region-quest-status {
  width: 15%;
}

.region-quest-level {
  width: 15%;
}

.region-quest-cost {
  width: 15%;
}

.region-quest-party {
  width: 15%;
}



.region-table tbody:nth-child(odd) {
  background: #ddd;
}

.toggle {
	display: none;
}

.region-page h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  background: #222;
  color: #ddd;
  padding: 8px;
  display: inline-block;
  margin: 0 0 10px 0;
}



.sub-tables {
  padding: 10px;
}

.region-drops-table {
  width: 60%;
  border: 1px solid #222;
  float: left;
}

.region-drops-table thead, .region-stats-table thead {
  max-height: 20px;
  margin: 0;
  padding: 0;
}

.region-drops-table tbody tr td, .region-stats-table tbody tr td {
  padding: 5px 0;
  margin: 5px 0;
}

.region-table-header {
  background: red;
  text-align: center;
}

.region-drops-table thead tr {
  padding: 0;
  margin: 0;
}

.region-stats-table {
  width: 40%;
  border: 1px solid #222;
  float: left;
}




.quest-image-holder {
  float: left;
  width: 35%;
  max-width: 150px;
  text-align: center;
  display: block;
  position: relative;
  margin: 0 20px 0 0;
}

.quest-image-holder img {
}

.quest-image-background {
  z-index: 1;
  width: 100%;
  margin: 30px 0 0 0;
}

.quest-image-monster {
  width: 70%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 20px 0 0;
}

.quest-table {
  width: 50%;
  max-width: 230px;
  border: 2px solid #bbb;
  font-size: .9em;
  float: left;
}

.quest-table thead {
}

.quest-table tbody {
}

.quest-table td {
  padding: 2px 5px 0px 5px;
}

.quest-header-row {
  background: #222;
}

.quest-table h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 3px 0 3px 0;
  font-weight: bold;
}

.quest-cost {
  vertical-align: bottom;
  text-align: right;
}

.quest-zone {
  text-align: right;
}

.coin-img {
  padding: 0 1px 3px 2px;
}

.quest-tier {
  text-align: right;
}

.quest-level {
}

.quest-type {
}

.quest-spacer {
  height: 20px;
}

.quest-stat {
  max-width: 20px;
  background: red;
}

.quest-stat-label {
  background: #ccc;
  color: #222;
  height: 25px;
  font-weight: bold;
}

.bonus-stats {
  font-size: .9em;
  text-align: center;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  color: #666;
}












/* MONSTER LOOT TABLE */
.quest-loot-drops-table {
  width: 100%;
  max-width: 400px;
  border: 2px solid #bbb;
  font-size: .9em;
  clear: both;
  margin: 30px 0 0 0;
}

.quest-loot-drops-table caption {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0 0 5px 0;
}

.quest-loot-drops-table td, th {
  padding: 5px 7px;
}

.quest-loot-drops-table thead {
  background: #aaa;
}

.quest-loot-drops-table thead th {
  height: 40px;
}

.quest-loot-drops-table tbody tr {
  border-bottom: 1px solid #bbb;
}

.quest-loot-drops-table tbody tr:nth-child(odd) {
  background: #ccc;
}

.quest-loot-drops-table tfoot td {
  font-style: italic;
  font-size: .9em;
  padding: 8px;
}

.guides-list {
  margin: 20px 0 50px 0;
}




.weapons-page-filters {
  margin: 30px 0 0 0;
  background: #e9e9e9;
  padding: 20px 10px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.weapons-page-filters h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 5px 15px 0;
  float: left;
}

.filters-reset-button {
  text-align: center;
  margin: 10px 15px 0 0;
  font-size: .9em;
  padding: 8px 5px;
  max-width: 100px;
  background: #e9e9e9;
  border: 1px solid #bbb;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filters-reset-button:hover {
  background: #333;
  color: #eee;
  border: 1px solid #333;
}

.weapons-page-filters h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.weapons-tier-options {
}

.weapons-page-filters input[type=checkbox]{
	display: none;
}

.weapons-page-filters {
}

.weapons-tier-options label, .weapons-type-options label, .weapons-subtype-options label, .filters-reset-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.weapons-tier-options label {
  color: #bbb;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  margin: 0 0 5px 0;
}

.weapons-type-options {
}

.weapons-type-options label {
  color: #bbb;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  margin: 0 0 5px 0;
}

.weapons-subtype-options {
  margin: 10px 0 0 0;
}

.weapons-subtype-options label {
  color: #bbb;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  margin: 0 0 5px 0;
}

.filter-selected {
  border: 1px solid #333 !important;
  background: #333;
  color: #eee !important;
}

.filtered-gear-table {
  width: 100%;
  max-width: 400px;
  border: 2px solid #bbb;
  font-size: .9em;
  clear: both;
  margin: 30px 0 0 0;
}

.filtered-gear-table caption {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0 0 5px 0;
}

.filtered-gear-table td, th {
  padding: 5px 7px;
}

.filtered-gear-table thead {
  background: #aaa;
}

.filtered-gear-table thead th {
  height: 40px;
  color: #222;
  font-weight: bold;
}

.filtered-gear-table tbody tr:nth-child(1) {
  border-top: 1px solid #bbb;
}

.filtered-gear-table tbody tr td img {
  image-rendering: pixelated;
  width: 35px;
}

.filtered-gear-table tfoot td {
  font-style: italic;
  font-size: .9em;
  padding: 8px;
}



/* Extra small devices (phones, less than 450px) */
/* No media query since this is the default in Bootstrap */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

  #side-bar {
    display: none;
  }

  #top-bar {
    margin: 30px auto 20px auto;
  }

  #search-hold {
    display: none;
  }

  #navigation {
    display: none;
  }

  #mobile-menu-toggle {
    display: block;
  }

  #mobile-search {
    display: block;
  }

  .footer-col {
    margin-bottom: 20px;
  }
}


@media only screen and (max-width : 625px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #content-hold {
    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    display: block;
    min-height: 50px;
  }

  #main-content {
    background: #F3F3F3;
    padding: 20px 8px;
  }

  #main-content img {
    image-rendering: pixelated;
  }

  #side-bar {
    display: none;
  }

  #top-bar {
    margin: 15px auto 15px auto;
  }

  #logo-hold {
    height: 60px;
  }

  #logo-hold img {
    max-width: 60px;
  }

  #logo-hold span {
    font-size: 2em;
    margin-left: 7px;
  }

  #mobile-menu-toggle {
    margin: 20px 0 0 0
  }

  #mobile-menu-toggle a {
    font-size: 2.5em;
  }

  #mobile-search {
    margin-top: 12px;
  }

  .quest-image-holder {
    margin-right: 0;
  }

  .quest-table {
    width: 60%;
  }

  .hero-page h2 {
    font-size: 2em;
  }

  .hero-page-avatar {
    float: left;
    width: 130px;
    margin: 0 0 35px 0;
  }

}

@media only screen and (max-width: 400px) {
  footer .col-xs-6 {
    clear: both;
    width: 100%;
  }

  .quest-table {
    float: right;
  }

  #logo-hold {
    height: 50px;
  }

  #logo-hold img {
    max-width: 50px;
  }

  #logo-hold span {
    font-size: 1.8em;
    margin-left: 7px;
  }

  #mobile-menu-toggle {
    margin: 15px 0 0 0
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  body {
    background: purple;
  }

}

@font-face {
    font-family: 'Alagard';
    src: url('fonts/alagard-webfont.eot');
    src: url('fonts/alagard-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alagard-webfont.woff2') format('woff2'),
         url('fonts/alagard-webfont.woff') format('woff'),
         url('fonts/alagard-webfont.ttf') format('truetype'),
         url('fonts/alagard-webfont.svg#alagardmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


#ac-search_dropdown {
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75);
box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75);
}

/*Reddit Widget*/
#reddit-hold {
  width: 30%;
  max-width: 300px;
  height: 300px;
  float: left;
  padding: 5px;
  margin: 0 0 100px 0;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}

#reddit {
  max-height: 300px;
  overflow: scroll;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

#reddit h4 {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
  font-family: 'Pathway Gothic One', sans-serif;
}

#reddit a {
  font-size: .9em;
}

#reddit ul li {
  margin: 0 0 10px 0;
}

#reddit ul li p {
  margin: 0;
  padding: 0;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reddit-view-more {
  position: absolute;
  bottom: 0;
  display: block;

  background: #000;
  opacity: .5;
}


#disqus_thread {
  margin: 100px 0 0 0;
}
