.guide {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #ddd;
  h1 {
    margin: 0 0 5px 0;
  }
}

.guide-author, .guide-date {
  float: left;
  margin: 0 15px 0 0;
}

.guide-author .glyphicon, .guide-date .glyphicon {
  font-size: .8em;
}

.guide-author p, .guide-date p {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8em;
}

.guide-content {
  margin: 10px 0 0 0;
  padding: 20px 5px 0 5px;
  border-top: 1px solid #ddd;
  h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 7px 0;
  }
  img {
    max-width: 100%;
  }
  ul, ol {
    margin: 15px 0 25px 0;
  }
  ul li, ol li {
    margin: 3px 0;
  }
  .alignright {
    float: right;
    padding: 15px 0 15px 15px;
  }
  .alignleft {
    float: left;
    padding: 15px 15px 15px 0;
  }
  p {
    margin: 0 0 28px 0;
    line-height: 25px;
  }
}

.guide-options {
  float: right;
  margin: 0 0 0 15px;
  .copy-item-url {
    margin-top: -1px;
  }
}

.wp-smiley {
  max-width: 13px !important;
}
