.materials-page-filters, .trinkets-page-filters, .armors-page-filters, .potions-page-filters, .weapons-page-filters {
  margin: 30px 0 0 0;
  background: #e9e9e9;
  padding: 20px 10px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.materials-page-filters td, .trinkets-page-filters td, .armors-page-filters td, .potions-page-filters td, .weapons-page-filters td {
  padding: 10px;
}

.materials-page-filters h2, .trinkets-page-filters h2, .armors-page-filters h2, .potions-page-filters h2, .weapons-page-filters h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 5px 15px 0;
  float: left;
}

.filters-allType-button, .filters-reset-button {
  text-align: center;
  margin: 10px 15px 0 0;
  font-size: .9em;
  padding: 8px 5px;
  max-width: 100px;
  background: #e9e9e9;
  border: 1px solid #bbb;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filters-allType-button:hover, .filters-reset-button:hover {
  background: #333;
  color: #eee;
  border: 1px solid #333;
}

.materials-page-filters h3, .trinkets-page-filters h3, .armors-page-filters h3, .potions-page-filters h3, .weapons-page-filters h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.materials-page-filters input[type=checkbox], .trinkets-page-filters input[type=checkbox], .armors-page-filters input[type=checkbox], .potions-page-filters input[type=checkbox], .weapons-page-filters input[type=checkbox] {
  display: none;
}

.materials-tier-options label, .trinkets-tier-options label, .potions-tier-options label, .armors-tier-options label, .weapons-tier-options label, .materials-type-options label, .materials-subtype-options label, .trinkets-type-options label, .potions-type-options label, .potions-subtype-options label, .armors-type-options label, .armors-subtype-options label, .weapons-subtype-options label, .weapons-type-options label, .selectButton {
  color: #bbb;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  margin: 0 0 5px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-button-xs {
  margin-left: 10px;
}

.materials-subtype-options, .potions-subtype-options, .armors-subtype-options, .weapons-subtype-options {
  margin: 10px 0 0 0;
}

.filter-selected {
  border: 1px solid #333 !important;
  background: #333;
  color: #eee !important;
}

.filtered-gear-table {
  width: 100%;
  max-width: 400px;
  border: 2px solid #bbb;
  font-size: .9em;
  clear: both;
  margin: 30px 0 0 0;
  caption {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin: 0;
    padding: 0 0 5px 0;
  }
}

.filtered-gear-table {
  thead {
    background: #aaa;
    th {
      height: 40px;
      color: #222;
      font-weight: bold;
    }
  }
  tbody tr {
    &:nth-child(1) {
      border-top: 1px solid #bbb;
    }
    td img {
      image-rendering: pixelated;
      width: 35px;
    }
  }
  tfoot td {
    font-style: italic;
    font-size: .9em;
    padding: 8px;
  }

  #{$ico-styles} {
    transform:scale(1.46);
    -moz-transform:scale(1.46);
    margin: 0 10px 0 10px;
  }
}

#{$ico-styles} {
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
