<style>
table
	{
	border: 1px solid gray;
	}
	
table tr td:nth-child(2),
table tr th:nth-child(2)
	{
	width: 250px;
	text-align:center;
	}
	
.toggle
	{
	display: none;
	}
	
.toggle-arrow-up,
.toggle-arrow-down
	{
	display:block;
	width:60px;
	height:60px;
	}
	
.toggle-arrow-up
	{
	background-image: url("img/toggleArrowUp.png");
	}
	
.toggle-arrow-down
	{
	background-image: url("img/toggleArrowDown.png");
	}
</style>
<script>
$(document).ready(function()
	{
	$("table").on("click", ".clickable", function()
		{
		if($(this).find(".toggle-arrow").hasClass("toggle-arrow-down"))
			{
			$(this).find(".toggle-arrow").removeClass("toggle-arrow-down");
			$(this).find(".toggle-arrow").addClass("toggle-arrow-up");
			}
		else
			{
			$(this).find(".toggle-arrow").removeClass("toggle-arrow-up");
			$(this).find(".toggle-arrow").addClass("toggle-arrow-down");
			}
		$(this).next().find(".toggle").slideToggle();
		});
	});
</script>
<h3>{{regioName}}</h3>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Quest Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-repeat="quest in quests">
		<tr class="clickable">
			<td><img ng-src="assets/{{quest.enemyImage}}"></td>
			<td><a href="#/quests/{{quest.name}}">{{quest.name}}</td>
			<td><span class="toggle-arrow toggle-arrow-down">&nbsp;</span></td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="toggle">
					Title {{quest.title}}<br>
					Cost {{quest.gold}}<br>
					Level {{quest.levelReq}}<br>
					Max Party Size: {{quest.questSize}}
					<table border="1">
						<tr>
							<th colspan="4">Stats</th>
						</tr>
						<tr>
							<th>Exp</th>
							<th>Time</th>
							<th>HP</th>
							<th>Eva</th>
						</tr>
						<tr>
							<td>{{quest.exp}}</td>
							<td>{{quest.time}}</td>
							<td>{{quest.enemyHp}}</td>
							<td>{{quest.enemyEva}}</td>
						</tr>
						<tr>
							<th>Atk</th>
							<th>mAtk</th>
							<th>Def</th>
							<th>mDef</th>
						</tr>
						<tr>
							<td>{{quest.enemyAtk}}</td>
							<td>{{quest.enemyMatk}}</td>
							<td>{{quest.enemyDef}}</td>
							<td>{{quest.enemyMdef}}</td>
						</tr>						
					</table>
					<table border="1">
						<tr>
							<th colspan="4">Drops</th>
						</tr>
						<tr>
							<th></th>
							<th>Item Name</th>
							<th>Amount</th>
							<th>Drop Rate</th>
						</tr>
						<tr ng-show="quest.reward1[0]">
							<td class="center"><img ng-src="assets/{{mats[quest.reward1[0]-1].image}}"></td>
							<td><a class="quality-{{mats[quest.reward1[0]-1].rarity}}" href="#/items/material/{{mats[quest.reward1[0]-1].name}}">{{mats[quest.reward1[0]-1].name}}</a></td>
							<td>{{quest.reward1[2]}}<span ng-if="quest.reward1[3] > 1">-{{quest.reward1[3]}}</span></td>
							<td>{{quest.reward1[1]}}%</td>
						</tr>
						<tr ng-show="quest.reward2[0]">
							<td class="center"><img ng-src="assets/{{mats[quest.reward2[0]-1].image}}"></td>
							<td><a class="quality-{{mats[quest.reward2[0]-1].rarity}}" href="#/items/material/{{mats[quest.reward2[0]-1].name}}">{{mats[quest.reward2[0]-1].name}}</a></td>
							<td>{{quest.reward2[2]}}<span ng-if="quest.reward2[3] > 1">-{{quest.reward2[3]}}</span></td>
							<td>{{quest.reward2[1]}}%</td>
						</tr>
						<tr ng-show="quest.reward3[0]">
							<td class="center"><img ng-src="assets/{{mats[quest.reward3[0]-1].image}}"></td>
							<td><a class="quality-{{mats[quest.reward3[0]-1].rarity}}" href="#/items/material/{{mats[quest.reward3[0]-1].name}}">{{mats[quest.reward3[0]-1].name}}</a></td>
							<td>{{quest.reward3[2]}}<span ng-if="quest.reward3[3] > 1">-{{quest.reward3[3]}}</span></td>
							<td>{{quest.reward3[1]}}%</td>
						</tr>
						<tr ng-show="quest.reward4[0]">
							<td class="center"><img ng-src="assets/{{mats[quest.reward4[0]-1].image}}"></td>
							<td><a class="quality-{{mats[quest.reward4[0]-1].rarity}}" href="#/items/material/{{mats[quest.reward4[0]-1].name}}">{{mats[quest.reward4[0]-1].name}}</a></td>
							<td>{{quest.reward4[2]}}<span ng-if="quest.reward4[3] > 1">-{{quest.reward4[3]}}</span></td>
							<td>{{quest.reward4[1]}}%</td>
						</tr>
						<tr ng-show="quest.trinket[0]">
							<td class="center"><img ng-src="assets/{{eq[quest.trinket[0]-1].image}}"></td>
							<td><a class="quality-{{eq[quest.trinket[0]-1].rarity}}" href="#/items/trinket/{{eq[quest.trinket[0]-1].name}}">{{eq[quest.trinket[0]-1].name}}</a></td>
							<td>1</td>
							<td>{{quest.trinket[1]}}%</td>
						</tr>
					</table>					
				</div>
			</td>
		</tr>
	</tbody>
</table>

<!--
<pre>{{quests}}</pre>
<pre>{{questNames}}</pre>-->