<h1>Merchant Guides</h1>
<p>
  New to Merchant? Follow these guides to get started.
</p>

<div class="guides-list" ng-if="isLoaded">

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="guide in guidesList">
        <td><a href="#!/guides/{{guide.title.rendered}}">{{guide.title.rendered}}</a></td>
        <td>{{getAuthByID(guide.author)}}</td>
        <td>{{trimDate(guide.date)}}</td>
      </tr>
    </tbody>
  </table>


</div>

<p ng-if="isLoaded">
  Have a request for a guide? Leave a comment below and we'll add it to the list!
</p>
