<h1>Item Comparison</h1>
<p>Two items battle it out! Which is better? YOU DECIDE!</p>

<div class="comparison-page-options">
	<ul>
		<li>
			<!-- Copy URL Button -->
			<div class="comparison-copy-item-url btn btn-primary">
				<span class="glyphicon glyphicon-link"></span> Copy URL</div>
		</li>
		<li>
			<!-- Help Button -->
			<a href="#!/guides/How%20to%20use%20Item%20Comparison">
				<div class="comparison-help-button btn btn-danger">
					<span class="glyphicon glyphicon-question-sign"></span> Help</a>
			</div>
		</li>
	</ul>
</div>
<table class="compareTable">
	<!--1.row: image, prefix, name, suffix -->
	<thead>
		<tr class="no-border">
			<th>
			</th>
			<th class="compare-table-item-1">
				<div class="compared-item-name">
					<a href="#!/items/{{pageName}}/{{item1Stat.name}}?prefix={{item1Prefix.id}}&suffix={{item1Suffix.id}}">
						<span class="quality-{{item1Stat.finalRarity}}">{{item1Stat.name}}</span>
					</a>
				</div>

				<div class='comparison-page-item-image item-quality-{{item1Stat.finalRarity}}-bg'>
					<div ng-class="::item1Stat.image | imageToCssClass"></div>
				</div>

				<div class="comparison-adjustments-hold">
					<div class="comparison-page-prefix-hold">
						<label>Prefix</label>
						<select class="prefix-select" ng-model="item1Prefix.id" ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item1Grade.id, item2Prefix.id, item2Suffix.id, item2Grade.id)"
						 ng-options="k as v.name for (k, v) in prefix">
						</select>
					</div>

					<div class="comparison-page-suffix-hold">
						<label>Suffix</label>
						<select class="suffix-select" ng-model="item1Suffix.id" ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item1Grade.id, item2Prefix.id, item2Suffix.id, item2Grade.id)"
						 ng-options="k as v.name for (k, v) in suffix">
						</select>
					</div>

					<br>

					<div class="comparison-page-grade-hold">
						<label>Grade</label>
						<select class="grade-select" ng-model="item1Grade.id" ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item1Grade.id, item2Prefix.id, item2Suffix.id, item2Grade.id)"
						 ng-options="k as v.name for (k, v) in grade">
						</select>
					</div>
				</div>
			</th>
			<th></th>
			<th class="compare-table-item-2">
				<div class="compared-item-name">
					<a href="#!/items/{{pageName}}/{{item2Stat.name}}?prefix={{item2Prefix.id}}&suffix={{item2Suffix.id}}">
						<span class="quality-{{item2Stat.finalRarity}}">{{item2Stat.name}}</span>
					</a>
				</div>

				<div class='comparison-page-item-image item-quality-{{item2Stat.finalRarity}}-bg'>
					<div ng-class="::item2Stat.image | imageToCssClass"></div>
				</div>

				<div class="comparison-adjustments-hold">
					<div class="comparison-page-prefix-hold">
						<label>Prefix</label>
						<select class="prefix-select" ng-model="item2Prefix.id" ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item1Grade.id, item2Prefix.id, item2Suffix.id, item2Grade.id)"
						 ng-options="k as v.name for (k, v) in prefix">
						</select>
					</div>

					<div class="comparison-page-suffix-hold">
						<label>Suffix</label>
						<select class="suffix-select" ng-model="item2Suffix.id" ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item1Grade.id, item2Prefix.id, item2Suffix.id, item2Grade.id)"
						 ng-options="k as v.name for (k, v) in suffix">
						</select>
					</div>

					<br>

					<div class="comparison-page-grade-hold">
						<label>Grade</label>
						<select class="grade-select" ng-model="item2Grade.id" ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item1Grade.id, item2Prefix.id, item2Suffix.id, item2Grade.id)"
						 ng-options="k as v.name for (k, v) in grade">
						</select>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="4">Comparsion data for:
				<strong>{{item1Stat.name}}</strong> and
				<strong>{{item2Stat.name}}</strong>.
		</tr>
	</tfoot>

	<!--2.row: type -->
	<tr>
		<th>Type</th>
		<td>{{item1Stat.subType}}</td>
		<td></td>
		<td>{{item2Stat.subType}}</td>
	</tr>

	<!--3.row: level -->
	<tr>
		<th>Level</th>
		<td>{{item1Stat.itemLevel}}</td>
		<td></td>
		<td>{{item2Stat.itemLevel}}</td>
	</tr>

	<!--4.row: cost -->
	<tr>
		<th>Cost</th>
		<td>{{item1Stat.cost}}</td>
		<td></td>
		<td>{{item2Stat.cost}}</td>
	</tr>

	<tr ng-repeat="statName in existingStats">
		<th>{{statName | changeStat}}</th>
		<td ng-class="getMinMaxClass(finalStats1[statName], finalStats2[statName])">{{finalStats1[statName].min | number:0}} - {{finalStats1[statName].max | number:0}}</td>
		<td>{{getSign(finalStats1[statName], finalStats2[statName])}}</td>
		<td ng-class="getMinMaxClass(finalStats2[statName], finalStats1[statName])">{{finalStats2[statName].min | number:0}} - {{finalStats2[statName].max | number:0}}</td>
	</tr>
</table>

<div class="item-url-hold">
	<label>Comparison URL:</label>
	<ul class="url-tabs">
		<li id="raw-url-link" class="left-rounded-corners">Raw Link</li>
		<li id="reddit-url-link" class="right-rounded-corners">Reddit Link</li>
	</ul>
	<input id="generatedLink" readonly>
	<input class="hide" id="generatedLink-reddit" readonly>
</div>