.sidebar-guides ul {
  padding: 10px 0 0 0;
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    a {
      display: block;
    }
    span {
      font-size: .8em;
    }
    &:nth-child(odd), &:nth-child(even) {}
  }
}

.view-more-guides {
  margin: 25px 0 0 0;
  a {
    font-size: .8em;
    display: block;
    background: #333;
    color: #eee;
    padding: 7px;
  }
}
