@font-face {
    font-family: 'Alagard';
    src: url('fonts/alagard-webfont.eot');
    src: url('fonts/alagard-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alagard-webfont.woff2') format('woff2'),
         url('fonts/alagard-webfont.woff') format('woff'),
         url('fonts/alagard-webfont.ttf') format('truetype'),
         url('fonts/alagard-webfont.svg#alagardmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
