<!--<pre>{{item}}</pre>
<br>
<pre>{{material}}</pre>
<br>
<pre>{{itemBaseStat}}</pre>
<br>-->
    <div class='object-hold'>
      <div class='object-image item-quality-{{item.rarity + suffixNum + prefixNum}}-bg'>
        <img ng-src="assets/{{item.image}}">
      </div>

      <div class="suffix-adjustment-hold">
        <label>Suffix</label>
        <select id="suffix-select"
                ng-model="suffix"
			          ng-init="suffix=suffix"
                ng-change="suffixPrefixChange()"
			          ng-options="name for (name, value) in listOfSuffix">
        </select>
      </div>

      <!-- Prefix Adjustment -->
      <div class="prefix-adjustment-hold">
        <label>Prefix</label>
        <select id="prefix-select"
			            ng-options="option for option in listOfWeaponPrefix"
                  ng-model="prefix"
  			          ng-init="prefix=prefix"
                  ng-change="suffixPrefixChange()">
        </select>
      </div>

      <div class="copy-item-url btn btn-primary">Copy URL</div>

      <table class='gear-table'>
        <tr>
          <td class='gear-name'>
            <h3 class="quality-{{item.rarity + suffixNum + prefixNum}}"><span id="prefix-hold"></span>{{item.name}} <span class="hide" id="add-suffix">+{{suffix}}</span></h3>
          </td>
          <td class='gear-cost'>Cost:
            <img class='coin-img' ng-src="img/coin.png">{{item.cost}}
          </td>
        </tr>
        <tr>
          <td colspan=2 class='gear-type'>Weapon - {{item.subType}}</td>
        </tr>
        <tr>
          <td>Level {{item.itemLevel}}</td>
          <td class='gear-tier'>Tier {{Math.floor ((item.itemLevel-0.1)/10 + 1)}}</td>
        </tr>
        <tr>
          <td colspan=2>{{(itemBaseStat.atkBase + itemBaseStat.atkLvl*item.itemLevel)*0.9*percentMod | number:0}} - {{(itemBaseStat.atkBase + itemBaseStat.atkLvl*item.itemLevel)*1.1*percentMod | number:0}} Physical Attack</td>
        </tr>
        <tr>
          <td colspan=2>{{(itemBaseStat.matkBase + itemBaseStat.matkLvl*item.itemLevel)*0.9 * percentMod | number: 0}} - {{(itemBaseStat.matkBase + itemBaseStat.matkLvl*item.itemLevel)*1.1 * percentMod | number: 0}} Magical Attack</td>
        </tr>
        <tr>
          <td colspan=2>{{(itemBaseStat.accBase + itemBaseStat.accLvl*item.itemLevel)*0.9 * percentMod | number:0}} - {{(itemBaseStat.accBase + itemBaseStat.accLvl*item.itemLevel)*1.1 * percentMod | number:0}} Accuracy</td>
        </tr>

	  <!-- If the weapon has bonus stats -->
        <tr class='bonus-stat-row'>
          <td colspan=2 class='bonus-stats'>Additional Stats</td>
        </tr>
        <tr ng-repeat="(key, value) in item.bonusStat">
		      <td colspan=2>
			      {{key | changeStat}}: {{value[0]}}-{{value[1]}}
		      </td>
	      </tr>
        <tr ng-show="prefix">
    			<td colspan="2">
            <span class="prefix-stat">+{{prefixStat.val}} {{prefixStat.name | changeStat}} ({{prefix}})</span>
    			</td>
    		</tr>
      </table>

      <div class="clear"></div>

	  <!-- Display table showing what items are needed to craft weapon -->
    <table class='crafting-reagents-table'>
      <caption>Weapon Recipe</caption>
      <thead>
        <tr>
          <th class='center'></th>
          <th>Item Name</th>
          <th class='center'>Amount</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan='3'>
            Weapon recipe information for {{item.name}}.
          </td>
        </tr>
      </tfoot>
      <tbody class='crafting-reagents-table-body'>
        <tr ng-repeat="mat in material" class='row-poop'>
          <td class='center'><img ng-src='assets/{{mat.icon}}'></td>
          <td><a class='quality-{{mat.rarity}}' href="#!/items/material/{{mat.name}}">{{mat.name}}</a></td>
          <td class='center'>{{mat.amount}}</td>
		    </tr>
	    </tbody>
	  </table>

    <div class="item-url-hold">
      <label>Unique Item URL:</label>
      <input id="generatedLink" readonly>
    </div>
