<div class="guide" ng-if="isLoaded">

  <div class="guide-options">
    <!-- Copy URL Button -->
    <div item-page-copy-button></div>
  </div>

  <h1>{{guideTitle}}</h1>

  <div class="guide-author">
    <span class="glyphicon glyphicon-user"></span>
    <p>Written by:</p> {{guideAuthor}}
  </div>

  <div class="guide-date">
    <span class="glyphicon glyphicon-calendar"></span>
    <p>Posted on:</p> {{trimDate(guideDate)}}
  </div>

  <div class="clear"></div>

  <div class="guide-content" ng-bind-html="guideContent"></div>

</div>

<item-url reddit-name="guideTitle" title="Guide URL:" ng-if="isLoaded"></item-url>
