<div class='object-image item-quality-{{material.rarity}}-bg'>
	<img ng-src="assets/{{material.image}}">
</div>

<!-- Copy URL Button -->
<div item-page-copy-button></div>

<table class='mats-table'>
	<tr>
		<td class='mats-name'>
			<h3>{{material.name}}</h3>
		</td>
		<td class="mats-cost">
			{{material.sell[0]}} - {{material.sell[1]}}<img class='coin-img' ng-src="img/coin.png">
		</td>
	</tr>
	<tr>
		<td colspan="2" class='mats-cost'>
			Tier {{getTierOfMaterial(material)}}
		</td>
	</tr>
	<tr>
		<td colspan="2">"{{material.desc1}} {{material.desc2}}"</td>
	</tr>
</table>

<!-- Table showing what is needed to craft this item -->
<table ng-show="{{craftedBy}}" class='crafting-reagents-table'>
	<caption>Item Recipe</caption>
	<thead>
		<tr>
			<th class='center'></th>
			<th>Item Name</th>
			<th class='center'>Amount</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan='3'>
				Item recipe information for {{material.name}}.
			</td>
		</tr>
	</tfoot>
	<tbody class='crafting-reagents-table-body'>
		<tr>
			<td class='center'><img ng-src="img/coin.png"></td>
			<td><a class="quality-1">Gold</a></td>
			<td class='center'>{{material.cost}}</td>
		</tr>
		<tr ng-repeat="craft in craftedBy">
			<td class='center'><img ng-src="assets/{{craft.icon}}"></td>
			<td><a class="quality-{{craft.rarity}}" href="#!/items/material/{{craft.name}}">{{craft.name}}</a></td>
			<td class='center'>{{craft.amount}}</td>
		</tr>
	</tbody>
</table>

<!-- Table showing what this item is used to craft -->
<table ng-show="{{craft}}" class='crafting-reagents-table'>
	<caption>Used to Craft</caption>
	<thead>
		<tr>
			<th></th>
			<th>Item Name</th>
			<th class="center">Amount</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan='3'>
				Crafting information for {{material.name}}.
			</td>
		</tr>
	</tfoot>
	<tbody class='crafting-reagents-table-body'>
		<tr ng-repeat="craf in craft">
			<td class='center'><img ng-src="assets/{{craf.image}}"></td>
			<td><a class="quality-{{craf.rarity}}" href="#!/items/{{craf.type}}/{{craf.name}}">{{craf.name}}</td>
			<td>{{craf.amount}}</td>
		</tr>
	</tbody>
</table>


<!-- Table showing which monsters drop this item -->
<table ng-show="{{droppedBy}}" class='crafting-reagents-table'>
	<caption>Dropped By</caption>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Location</th>
			<th class='center'>Drop Amnt</th>
			<th class='center'>Drop Rate</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan='5'>
				Drop information for {{material.name}}.
			</td>
		</tr>
	</tfoot>
	<tr ng-repeat="drop in droppedBy">
		<td><img ng-src="assets/{{drop.icon}}"></td>
		<td><a class="quality-{{drop.rarity}}" href="#!/quests/{{drop.name}}">{{drop.name}}</a></td>
		<td><a href="#!/regios/{{drop.region}}">{{drop.region}}</a></td>
		<td class='center'>{{drop.min *0.8 |number:0}}<span ng-if="drop.max > 1 || drop.min == 0 && drop.max == 1">-{{drop.max *1.3 |number:0}}</span></td>
		<td class='center'>{{drop.oddsMin |number:2}}%<span ng-if="drop.oddsMax < 100"> - {{drop.oddsMax |number:2}}%</span></td>
	</tr>
</table>

<div class="item-url-hold">
	<label>Unique Item URL:</label>
	<ul class="url-tabs">
		<li id="raw-url-link" class="left-rounded-corners">Raw Link</li>
		<li id="reddit-url-link" class="right-rounded-corners">Reddit Link</li>
	</ul>
	<input id="generatedLink" readonly>
	<input class="hide" id="generatedLink-reddit" readonly>
</div>
