<div class='quest-image-holder'>
	<img class='quest-image-background' src='img/tier-{{quest.region}}-background.png'>
	<img class='quest-image-monster' ng-src="assets/{{quest.enemyImage}}">
</div>

<table class='quest-table'>
  <thead>
  <tr>
    <td colspan=4 class='quest-name'><h3>{{quest.name}}</h3></td>
  </tr>
  <tr ng-show="quest.other" ng-if="quest.type == 'a'">
    <td colspan=4>10% chance to become <a href="#!/quests/{{quest.other}}">{{quest.other}}</a></td>
  </tr>
  <tr ng-show="quest.other" ng-if="quest.type == 'b'">
    <td colspan=4>From <a href="#!/quests/{{quest.other}}">{{quest.other}}</a></td>
  </tr>
  <tr>
    <td colspan=2 class='quest-type'>{{quest.title}}</td>
    <td colspan=2 class='quest-cost'>
      Cost: <img class='coin-img' src='img/coin.png'>
      {{quest.gold}}
    </td>
  </tr>
  <tr>
    <td colspan=2 class='quest-level'>Level {{quest.levelReq}}</td>
    <td colspan=2 class='quest-zone'><a href="#!/regios/{{quest.region2}}">{{quest.region2}}</a></td>
  </tr>
  <tr>
    <td colspan=4>Max Party Size: {{quest.questSize}}</td>
  </tr>
  <tr class='quest-spacer'>
    <td colspan=4>
  </tr>
  </thead>
	<tbody>
	<tr class='quest-stat-label'>
		<td>HP</td>
		<td>EXP</td>
		<td>Time</td>
		<td></td>
	</tr>
	<tr>
		<td>{{quest.enemyHp}}</td>
		<td>{{quest.exp}}</td>
		<td>{{quest.time}}</td>
		<td></td>
	</tr>
	<tr class='quest-stat-label'>
		<td>P.Atk</td>
		<td>M.Atk</td>
		<td>P.Def</td>
		<td>M.Def</td>
	</tr>
	<tr>
		<td>{{quest.enemyAtk}}</td>
		<td>{{quest.enemyMatk}}</td>
		<td>{{quest.enemyDef}}</td>
		<td>{{quest.enemyMdef}}</td>
	</tr>
	<tr class='quest-stat-label'>
		<td>Eva</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>{{quest.enemyEva}}</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
</table>
<div class='clear'></div>


<table class='quest-loot-drops-table'>
	<caption>Dropped by {{quest.name}}</caption>
	<thead>
		<tr>
			<th class='center'>Slot</th>
			<th class='center'>Icon</th>
			<th class='center'>Item Name</th>
			<th class='center'>Amount</th>
			<th class='center'>Drop Rate</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan='5'>
				Item drops information for {{quest.name}}.
			</td>
		</tr>
	</tfoot>
	<tbody>
		<tr ng-show="quest.reward1[0]">
			<td>1.</td>
			<td class="center"><img ng-src="assets/{{mats[quest.reward1[0]-1].image}}"></td>
			<td><a class="quality-{{mats[quest.reward1[0]-1].rarity}}" href="#!/items/material/{{mats[quest.reward1[0]-1].name}}">{{mats[quest.reward1[0]-1].name}}</a></td>
			<td>{{quest.reward1[1]*0.8 | number:0}}<span ng-if="quest.reward1[2] > 1"> - {{quest.reward1[2]*1.3 | number:0}}</span></td>
			<td>100%</td>
		</tr>
	</tbody>
	<tbody>
		<tr ng-show="quest.reward2[0]">
			<td>2.</td>
			<td class="center"><img ng-src="assets/{{mats[quest.reward2[0]-1].image}}"></td>
			<td><a class="quality-{{mats[quest.reward2[0]-1].rarity}}" href="#!/items/material/{{mats[quest.reward2[0]-1].name}}">{{mats[quest.reward2[0]-1].name}}</a></td>
			<td>{{quest.reward2[1]}}<span ng-if="quest.reward2[2] > 1"> - {{quest.reward2[2]}}</span></td>
			<td>100%</td>
		</tr>
	</tbody>
	<tbody ng-show="reward3">
		<tr><td rowspan="{{reward3.items.length + 2}}">3.</td><td></td><td></td><td></td><td></td></tr>
		<tr ng-repeat="item in reward3.items">
			<td class="center"><img ng-src="assets/{{item.image}}"></td>
			<td><a class="quality-{{item.rarity}}" href="#!/items/material/{{item.name}}">{{item.name}}</a></td>
			<td>{{item.min * 0.8 |number:0}}<span ng-if="item.max > 1">-{{item.max * 1.3 |number:0}}</span></td>
			<td>{{item.odd/(reward3.totalOdds+reward3.nilOdds*1.4)*100 |number:2 }}% - {{item.odd/(reward3.totalOdds+reward3.nilOdds*0.5)*100 |number:2 }}%</td>
		</tr>
		<tr><td></td><td></td><td></td><td></td></tr>
	</tbody>
	<tbody ng-show="reward4">
		<tr><td rowspan="{{reward4.items.length + 2}}">4.</td><td></td><td></td><td></td><td></td></tr>
		<tr ng-repeat="item in reward4.items">
			<td class="center"><img ng-src="assets/{{item.image}}"></td>
			<td><a class="quality-{{item.rarity}}" href="#!/items/material/{{item.name}}">{{item.name}}</a></td>
			<td>{{item.min * 0.8 |number:0}}<span ng-if="item.max > 1">-{{item.max * 1.3 |number:0}}</span></td>
			<td>{{item.odd/(reward4.totalOdds+reward4.nilOdds*1.4)*100 |number:2 }}% - {{item.odd/(reward4.totalOdds+reward4.nilOdds*0.5)*100 |number:2 }}%</td>
		</tr>
		<tr><td></td><td></td><td></td><td></td></tr>
	</tbody>
</table>


<div class="item-url-hold">
	<label>Unique Item URL:</label>
	<ul class="url-tabs">
		<li id="raw-url-link" class="left-rounded-corners">Raw Link</li>
		<li id="reddit-url-link" class="right-rounded-corners">Reddit Link</li>
	</ul>
	<input id="generatedLink" readonly>
	<input class="hide" id="generatedLink-reddit" readonly>
</div>
