<h1>Item Comparison</h1>
<p>Two items battle it out! Which is better? YOU DECIDE!</p>

<div class="comparison-page-options">
	<ul>
		<li>
			<!-- Copy URL Button -->
			<div class="comparison-copy-item-url btn btn-primary"><span class="glyphicon glyphicon-link"></span> Copy URL</div>
		</li>
		<li>
			<!-- Help Button -->
			<a href="#!/guides/How%20to%20use%20Item%20Comparison"><div class="comparison-help-button btn btn-danger"><span class="glyphicon glyphicon-question-sign"></span> Help</a></div>
		</li>
	</ul>
</div>
<table class="compareTable">
	<!--1.row: image, prefix, name, suffix -->
	<thead>
		<tr class="no-border">
			<th>
			</th>
			<th class="compare-table-item-1">
				<div class="compared-item-name">
					<a ng-if="itsWeapon" href="#!/items/weapon/{{item1Stat.name}}?prefix={{item1Prefix.name}}&suffix={{item1Suffix.id}}"><span class="quality-{{item1Stat.rarity + item1SuffixNum + item1PrefixNum}}">{{item1Stat.name}}</span></a>
					<a ng-if="itsArmor" href="#!/items/armor/{{item1Stat.name}}?prefix={{item1Prefix.name}}&suffix={{item1Suffix.id}}"><span class="quality-{{item1Stat.rarity + item1SuffixNum + item1PrefixNum}}">{{item1Stat.name}}</span></a>
					<a ng-if="itsTrinket" href="#!/items/trinket/{{item1Stat.name}}?prefix={{item1Prefix.name}}&suffix={{item1Suffix.id}}"><span class="quality-{{item1Stat.rarity + item1SuffixNum + item1PrefixNum}}">{{item1Stat.name}}</span></a>
				</div>

				<div class='comparison-page-item-image item-quality-{{item1Stat.rarity + item1SuffixNum + item1PrefixNum}}-bg'>
					<img ng-src="assets/{{item1Stat.image}}">
				</div>

				<div class="comparison-adjustments-hold">
					<div class="comparison-page-prefix-hold">
		        <label>Prefix</label>
						<select class="prefix-select"
		        ng-model="item1Prefix.id"
		        ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item2Prefix.id, item2Suffix.id)"
					  ng-options="name for (name, value) in listOfPrefix">
		        </select>
					</div>

						<div class="comparison-page-suffix-hold">
							<label>Suffix</label>
							<select class="suffix-select"
			        ng-model="item1Suffix.id"
			        ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item2Prefix.id, item2Suffix.id)"
						  ng-options="name for (name, value) in listOfSuffix">
			        </select>
						</div>
					</div>
			</th>
			<th></th>
			<th>
				<div class="compared-item-name">
					<a ng-if="itsWeapon" href="#!/items/weapon/{{item2Stat.name}}?prefix={{item2Prefix.name}}&suffix={{item2Suffix.id}}"><span class="quality-{{item2Stat.rarity + item2SuffixNum + item2PrefixNum}}">{{item2Stat.name}}</span></a>
					<a ng-if="itsArmor" href="#!/items/armor/{{item2Stat.name}}?prefix={{item2Prefix.name}}&suffix={{item2Suffix.id}}"><span class="quality-{{item2Stat.rarity + item2SuffixNum + item2PrefixNum}}">{{item2Stat.name}}</span></a>
					<a ng-if="itsTrinket" href="#!/items/trinket/{{item2Stat.name}}?prefix={{item2Prefix.name}}&suffix={{item2Suffix.id}}"><span class="quality-{{item2Stat.rarity + item2SuffixNum + item2PrefixNum}}">{{item2Stat.name}}</span></a>
				</div>

				<div class='comparison-page-item-image item-quality-{{item2Stat.rarity + item2SuffixNum + item2PrefixNum}}-bg'>
					<img ng-src="assets/{{item2Stat.image}}">
				</div>

				<div class="comparison-adjustments-hold">
					<div class="comparison-page-prefix-hold">
						<label>Prefix</label>
						<select class="prefix-select"
		        ng-model="item2Prefix.id"
		        ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item2Prefix.id, item2Suffix.id)"
					  ng-options="name for (name, value) in listOfPrefix">
		        </select>
					</div>

					<div class="comparison-page-suffix-hold">
						<label>Suffix</label>
						<select class="suffix-select"
		        ng-model="item2Suffix.id"
		        ng-change="suffixPrefixChange(item1Prefix.id, item1Suffix.id, item2Prefix.id, item2Suffix.id)"
					  ng-options="name for (name, value) in listOfSuffix">
		        </select>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="4">Comparsion data for: <strong>{{item1Stat.name}}</strong> and <strong>{{item2Stat.name}}</strong>.
		</tr>
	</tfoot>

	<!--2.row: type -->
	<tr>
		<th>Type</th>
		<td>{{item1Stat.subType}}</td>
		<td></td>
		<td>{{item2Stat.subType}}</td>
	</tr>

	<!--3.row: level -->
	<tr>
		<th>Level</th>
		<td>{{item1Stat.itemLevel}}</td>
		<td></td>
		<td>{{item2Stat.itemLevel}}</td>
	</tr>

	<!--4.row: cost -->
	<tr>
		<th>Cost</th>
		<td>{{item1Stat.cost}}</td>
		<td></td>
		<td>{{item2Stat.cost}}</td>
	</tr>

	<!--5.row: Atk -->
	<tr ng-if="itsWeapon">
		<th>Atk</th>
		<td>
			{{ (formula[item1Stat.subType].atkBase + formula[item1Stat.subType].atkLvl * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.atkBns[0]
					+ item1Prefix.stat.atkBns
					| number:0}}
			-
			{{ (formula[item1Stat.subType].atkBase + formula[item1Stat.subType].atkLvl * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.atkBns[1]
					+ item1Prefix.stat.atkBns
					| number:0}}
		</td>
		<td class="compareThis high"></td>
		<td>
			{{ (formula[item2Stat.subType].atkBase + formula[item2Stat.subType].atkLvl * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.atkBns[0]
					+ item2Prefix.stat.atkBns
					| number:0}}
			-
			{{ (formula[item2Stat.subType].atkBase + formula[item2Stat.subType].atkLvl * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.atkBns[1]
					+ item2Prefix.stat.atkBns
					| number:0}}
		</td>
	</tr>

	<!--6.row: mAtk -->
	<tr ng-if="itsWeapon">
		<th>mAtk</th>
		<td>
			{{ (formula[item1Stat.subType].matkBase + formula[item1Stat.subType].matkLvl * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.matkBns[0]
					+ item1Prefix.stat.matkBns
					| number:0}}
			-
			{{ (formula[item1Stat.subType].matkBase + formula[item1Stat.subType].matkLvl * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.matkBns[1]
					+ item1Prefix.stat.matkBns
					| number:0}}
		</td>
		<td class="compareThis high"></td>
		<td>
			{{ (formula[item2Stat.subType].matkBase + formula[item2Stat.subType].matkLvl * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.matkBns[0]
					+ item2Prefix.stat.matkBns
					| number:0}}
			-
			{{ (formula[item2Stat.subType].matkBase + formula[item2Stat.subType].matkLvl * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.matkBns[1]
					+ item2Prefix.stat.matkBns
					| number:0}}
		</td>
	</tr>

	<!--7.row: total Atk -->
	<tr ng-if="itsWeapon">
		<th>Total Attack</th>
		<td>
			{{((formula[item1Stat.subType].atkBase + formula[item1Stat.subType].atkLvl * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.atkBns[0]
					+ item1Prefix.stat.atkBns)
						+
				((formula[item1Stat.subType].matkBase + formula[item1Stat.subType].matkLvl * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.matkBns[0]
					+ item1Prefix.stat.matkBns)
					| number:0}}
			-
			{{((formula[item1Stat.subType].atkBase + formula[item1Stat.subType].atkLvl * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.atkBns[1]
					+ item1Prefix.stat.atkBns)
						+
				((formula[item1Stat.subType].matkBase + formula[item1Stat.subType].matkLvl * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.matkBns[1]
					+ item1Prefix.stat.matkBns)
					| number:0}}
		</td>
		<td class="compareThis high"></td>
		<td>
			{{((formula[item2Stat.subType].atkBase + formula[item2Stat.subType].atkLvl * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.atkBns[0]
					+ item2Prefix.stat.atkBns)
						+
				((formula[item2Stat.subType].matkBase + formula[item2Stat.subType].matkLvl * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.matkBns[0]
					+ item2Prefix.stat.matkBns)
					| number:0}}
			-
			{{((formula[item2Stat.subType].atkBase + formula[item2Stat.subType].atkLvl * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.atkBns[1]
					+ item2Prefix.stat.atkBns)
						+
				((formula[item2Stat.subType].matkBase + formula[item2Stat.subType].matkLvl * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.matkBns[1]
					+ item2Prefix.stat.matkBns)
					| number:0}}
		</td>
	</tr>

	<!--8.row: Acc -->
	<tr ng-if="itsWeapon">
		<th>Acc</th>
		<td>
			{{ (formula[item1Stat.subType].accBase + formula[item1Stat.subType].accLvl * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.accBns[0]
					+ item1Prefix.stat.accBns
					| number:0}}
			-
			{{ (formula[item1Stat.subType].accBase + formula[item1Stat.subType].accLvl * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.accBns[1]
					+ item1Prefix.stat.accBns
					| number:0}}
		</td>
		<td class="compareThis high"></td>
		<td>
			{{ (formula[item2Stat.subType].accBase + formula[item2Stat.subType].accLvl * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.accBns[0]
					+ item2Prefix.stat.accBns
					| number:0}}
			-
			{{ (formula[item2Stat.subType].accBase + formula[item2Stat.subType].accLvl * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.accBns[1]
					+ item2Prefix.stat.accBns
					| number:0}}
		</td>
	</tr>

	<!--9.row: Def -->
	<tr ng-if="itsArmor || item1Prefix.stat.defBns || item2Prefix.stat.defBns">
		<th>Def</th>
		<td>
			{{ (formula[item1Stat.subType].defBase + (formula[item1Stat.subType].defLvl + 0) * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.defBns[0]
					+ item1Prefix.stat.defBns
					| number:0}}
			-
			{{ (formula[item1Stat.subType].defBase + (formula[item1Stat.subType].defLvl + 0) * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.defBns[1]
					+ item1Prefix.stat.defBns
					| number:0}}
		</td>
		<td class="compareThis high"></td>
		<td>
			{{ (formula[item2Stat.subType].defBase + (formula[item2Stat.subType].defLvl + 0) * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.defBns[0]
					+ item2Prefix.stat.defBns
					| number:0}}
			-
			{{ (formula[item2Stat.subType].defBase + (formula[item2Stat.subType].defLvl + 0) * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.defBns[1]
					+ item2Prefix.stat.defBns
					| number:0}}
		</td>
	</tr>

	<!--10.row: mDef -->
	<tr ng-if="itsArmor || item1Prefix.stat.mdefBns || item2Prefix.stat.mdefBns">
		<th>mDef</th>
		<td>
			{{ (formula[item1Stat.subType].mdefBase + (formula[item1Stat.subType].mdefLvl + 0) * item1Stat.itemLevel) * 0.9 * 0.8
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.mdefBns[0]
					+ item1Prefix.stat.mdefBns
					| number:0}}
			-
			{{ (formula[item1Stat.subType].mdefBase + (formula[item1Stat.subType].mdefLvl + 0) * item1Stat.itemLevel) * 1.1 * 1.3
					* (1+item1Suffix.modif)
					+ item1Stat.bonusStat.mdefBns[1]
					+ item1Prefix.stat.mdefBns
					| number:0}}
		</td>
		<td class="compareThis high"></td>
		<td>
			{{ (formula[item2Stat.subType].mdefBase + (formula[item2Stat.subType].mdefLvl + 0) * item2Stat.itemLevel) * 0.9 * 0.8
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.mdefBns[0]
					+ item2Prefix.stat.mdefBns
					| number:0}}
			-
			{{ (formula[item2Stat.subType].mdefBase + (formula[item2Stat.subType].mdefLvl + 0) * item2Stat.itemLevel) * 1.1 * 1.3
					* (1+item2Suffix.modif)
					+ item2Stat.bonusStat.mdefBns[1]
					+ item2Prefix.stat.mdefBns
					| number:0}}</td>
	</tr>

	<!--11.row: HP -->
	<tr ng-if="item1Stat.bonusStat.hpBns || item2Stat.bonusStat.hpBns || item1Prefix.stat.hpBns || item2Prefix.stat.hpBns">
		<th>HP</th>
		<td>{{item1Stat.bonusStat.hpBns[0] * 0.8 + item1Prefix.stat.hpBns| number:0}}-{{item1Stat.bonusStat.hpBns[1] * 1.3 + item1Prefix.stat.hpBns| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.hpBns[0] * 0.8 + item2Prefix.stat.hpBns| number:0}}-{{item2Stat.bonusStat.hpBns[1] * 1.3 + item2Prefix.stat.hpBns| number:0}}</td>
	</tr>

	<!--12.row: Crit -->
	<tr ng-if="item1Stat.bonusStat.critBns || item2Stat.bonusStat.critBns">
		<th>Crit</th>
		<td>{{item1Stat.bonusStat.critBns[0] * 0.8| number:0}}-{{item1Stat.bonusStat.critBns[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.critBns[0] * 0.8| number:0}}-{{item2Stat.bonusStat.critBns[1] * 1.3| number:0}}</td>
	</tr>

	<!--13.row: dex -->
	<tr ng-if="item1Stat.bonusStat.dex || item2Stat.bonusStat.dex">
		<th>Dex</th>
		<td>{{item1Stat.bonusStat.dex[0] * 0.8| number:0}}-{{item1Stat.bonusStat.dex[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.dex[0] * 0.8| number:0}}-{{item2Stat.bonusStat.dex[1] * 1.3| number:0}}</td>
	</tr>

	<!--14.row: int -->
	<tr ng-if="item1Stat.bonusStat.int || item2Stat.bonusStat.int">
		<th>Int</th>
		<td>{{item1Stat.bonusStat.int[0] * 0.8| number:0}}-{{item1Stat.bonusStat.int[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.int[0] * 0.8| number:0}}-{{item2Stat.bonusStat.int[1] * 1.3| number:0}}</td>
	</tr>

	<!--15.row: str -->
	<tr ng-if="item1Stat.bonusStat.str || item2Stat.bonusStat.str">
		<th>Str</th>
		<td>{{item1Stat.bonusStat.str[0] * 0.8| number:0}}-{{item1Stat.bonusStat.str[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.str[0] * 0.8| number:0}}-{{item2Stat.bonusStat.str[1] * 1.3| number:0}}</td>
	</tr>

	<!--16.row: luck -->
	<tr ng-if="item1Stat.bonusStat.lckMod || item2Stat.bonusStat.lckMod">
		<th>Luck</th>
		<td>{{item1Stat.bonusStat.lckMod[0] * 0.8| number:0}}-{{item1Stat.bonusStat.lckMod[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.lckMod[0] * 0.8| number:0}}-{{item2Stat.bonusStat.lckMod[1] * 1.3| number:0}}</td>
	</tr>

	<!--17.row: gold -->
	<tr ng-if="item1Stat.bonusStat.gldMod || item2Stat.bonusStat.gldMod">
		<th>Gold</th>
		<td>{{item1Stat.bonusStat.gldMod[0] * 0.8| number:0}}-{{item1Stat.bonusStat.gldMod[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.gldMod[0] * 0.8| number:0}}-{{item2Stat.bonusStat.gldMod[1] * 1.3| number:0}}</td>
	</tr>

	<!--18.row: exp -->
	<tr ng-if="item1Stat.bonusStat.expMod || item2Stat.bonusStat.expMod">
		<th>Exp</th>
		<td>{{item1Stat.bonusStat.expMod[0] * 0.8| number:0}}-{{item1Stat.bonusStat.expMod[1] * 1.3| number:0}}</td>
		<td class="compareThis high"></td>
		<td>{{item2Stat.bonusStat.expMod[0] * 0.8| number:0}}-{{item2Stat.bonusStat.expMod[1] * 1.3| number:0}}</td>
	</tr>
</table>

<div class="item-url-hold">
	<label>Comparison URL:</label>
	<ul class="url-tabs">
		<li id="raw-url-link" class="left-rounded-corners">Raw Link</li>
		<li id="reddit-url-link" class="right-rounded-corners">Reddit Link</li>
	</ul>
	<input id="generatedLink" readonly>
	<input class="hide" id="generatedLink-reddit" readonly>
</div>
