<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input id="{{::id}}_value" name="{{::inputName}}" ng-class="{'angucomplete-input-not-empty': notEmpty}" ng-model="searchStr"
        ng-disabled="disableInput" type="text" placeholder="Search Database" maxlength="32" ng-focus="onFocusHandler()" class="{{::inputClass}}"
        ng-focus="resetHideResults()" ng-blur="hideResults($event)" autocapitalize="off" autocorrect="off" autocomplete="off"
        ng-change="inputChangeHandler(searchStr)" />
    <div id="{{::id}}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown">
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
        <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)">
            <div class="angucomplete-image-holder">
                <img ng-if="::result.image && result.image != ''" ng-src="{{::result.image}}" class="angucomplete-image" />
                <div ng-if="::!result.image && result.image != ''" class="angucomplete-image-default"></div>
            </div>
            <div class="angucomplete-title quality-{{::result.originalObject.rarity}}">{{:: result.title }}</div>
            <div ng-if="::result.description && result.description != ''" class="angucomplete-description">{{::result.description}}</div>
        </div>
    </div>
</div>