#content-hold {
  padding: 0;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  display: block;
  min-height: 50px;
}

#main-content {
  background: #F3F3F3;
  padding: 20px;
  min-height: 400px;
}
