.copy-item-url, .eqpage-compare-button {
  border: 0;
  transition: all 0.3s ease;
  border-radius: 2px;
  padding: 4px;
  font-size: .8em;
  width: 75px;
  display: inline-block;
  text-align: center;
  float: left;
  clear: left;
  margin: 10px 0 0 0;
}
