#mobile-menu {
  background: #222;
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 20px 0 0 20px;
    background: #222;
    border: 0;
    li {
      a {
        color: #FED000;
        font-family: 'Pathway Gothic One', sans-serif;
        text-transform: uppercase;
        font-size: 1.8em;
        text-decoration: none;
      }
      ul {
        margin: 0 0 0 -20px;
        padding: 0;
        display: none;
        li {
          height: 40px;
          margin: 0;
          &:hover {
            background: #111;
          }
          img {
            margin: 0 10px 0 0;
            max-width: 25px;
          }
          a {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-transform: none;
            font-size: 1em;
            display: block;
            height: 100%;
            padding: 10px 5px 5px 20px;
          }
        }
      }
    }
  }
}
